#!/usr/bin/make -f
# -*- makefile -*-

DEB_PYTHON_SYSTEM := pycentral
DEB_DH_ALWAYS_EXCLUDE := COPYING.gz:CHANGES.gz
DEB_DH_MD5SUMS_ARGS := --exclude=COPYING.gz --exclude=CHANGES.gz

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	rm -rf build build-stamp configure-stamp build/ MANIFEST
	dh_clean
