[global]
logpath         : /var/log/lshell/
loglevel        : 2

[default]
allowed         : ['ls', 'pwd', 'cat', 'echo', 'sudo', 'scp', './shutdown.sh']
forbidden       : [';', '&', '|', '`', '>', '<', '$(', '${']
overssh         : ['ls', 'pwd', 'cat', 'sudo', 'scp', './shutdown.sh']
sudo_commands   : ['ls']
scp             : 1
scp_upload      : 0
scp_download    : 1
sftp            : 1
strict          : 1
warning_counter : 2
messages        : {'unknown_syntax': 'lshell: unknown syntax: {command}', 'forbidden_generic': 'lshell: forbidden {messagetype}: "{command}"', 'forbidden_command': 'lshell: forbidden command: "{command}"', 'forbidden_path': 'lshell: forbidden path: "{command}"', 'forbidden_character': 'lshell: forbidden character: "{command}"', 'forbidden_control_char': 'lshell: forbidden control char: "{command}"', 'forbidden_command_over_ssh': 'lshell: forbidden {message}: "{command}"', 'forbidden_scp_over_ssh': 'lshell: forbidden {message}', 'warning_remaining': 'lshell: warning: {remaining} {violation_label} remaining before session termination', 'session_terminated': 'lshell: session terminated: warning limit exceeded', 'incident_reported': 'This incident has been reported.'}
allowed_file_extensions : ['.txt']

[ltestsftpoff]
sftp            : 0

[ltestscpdownoff]
scp_download    : 0

[ltestscpup]
scp_upload      : 1

[ltestscpoff]
scp             : 0
overssh         : ['ls', 'pwd', 'cat', 'sudo', './shutdown.sh']

[ltestwinscp]
winscp          : 1
scp_upload      : 0
scp_download    : 0

[ltestpipeon]
forbidden       : [';', '&', '`', '>', '<', '$(', '${']

[ltestalias]
aliases         : {'ll': 'ls'}

[ltestscpover]
scp             : 0

[ltestscpforce]
scp_upload      : 1
scpforce        : '/home/ltestscpforce/forced'
