[global]
logpath         : /var/log/lshell/
loglevel        : 2

[default]
allowed         : ['ls', 'pwd', 'cat', 'echo', 'sudo', './shutdown.sh']
forbidden       : [';', '&', '|', '`', '>', '<', '$(', '${']
overssh         : ['ls', 'pwd', 'cat', 'sudo', './shutdown.sh']
sudo_commands   : ['ls']
strict          : 1
warning_counter : 2
allowed_file_extensions : ['.txt']
